In [1]:
# import dependencies
import requests
import json
import os
from pprint import pprint 
import pandas as pd
from sqlalchemy import create_engine
import time

# EXTRACT DATA

In [2]:
# create query urls and response variables

url = "https://earthquake.usgs.gov/fdsnws/event/1/[query[format=geojson]]"
data_url = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2014-01-01&endtime=2014-01-02&eventtype=earthquake"
output_path = os.path.join("/images/")
response = requests.get(data_url)
data = response.json()

In [3]:
# print data to see columns and features

# pprint(data)

In [4]:
# create list variables to contain data
alert = []
cdi = []
code = []
detail = []
dmin = []
mag = []
magType = []
ids = []
felt = []
gap = []
mmi = []
net = []
nst = []
place = []
rms = []
sig = []
sources = []
status = []
sources = []
time = []
title = []
tsunami = []
types = []
tz = []
updated = []
url = []

In [5]:
# append all lists
for x in data["features"]:
    alert.append(x["properties"]["alert"])
    
    cdi.append(x["properties"]["cdi"])
    
    code.append(x["properties"]["code"])
    
    detail.append(x["properties"]["detail"])
    
    dmin.append(x["properties"]["dmin"])

    mag.append(x["properties"]["mag"])

    magType.append(x["properties"]["magType"])

    ids.append(x["properties"]["ids"])

    felt.append(x["properties"]["felt"])
    
    gap.append(x["properties"]["gap"])
    
    mmi.append(x["properties"]["mmi"])
    
    net.append(x["properties"]["net"])
    
    nst.append(x["properties"]["nst"])
    
    place.append(x["properties"]["place"])
    
    rms.append(x["properties"]["rms"])
    
    sig.append(x["properties"]["sig"])
    
    sources.append(x["properties"]["sources"])
    
    status.append(x["properties"]["status"])
    
    time.append(x["properties"]["time"])
    
    title.append(x["properties"]["title"])
    
    tsunami.append(x["properties"]["tsunami"])
    
    types.append(x["properties"]["type"])
    
    tz.append(x["properties"]["tz"])
    
    updated.append(x["properties"]["updated"])
    
    url.append(x["properties"]["url"])

In [6]:
# sanity check - prints a few lists to ensure code ran

# print(sources)

In [7]:
# construct dataframes for each list in Pandas

alert_df = pd.DataFrame({"Alert": alert})
cdi_df = pd.DataFrame({"CDI": cdi})
code_df = pd.DataFrame({"Code": code})
detail_df = pd.DataFrame({"Detail": detail})
dmin_df = pd.DataFrame({"Depth": dmin})
mag_df = pd.DataFrame({"Magnitude":mag})
magType_df = pd.DataFrame({"Waveform":magType})
ids_df = pd.DataFrame({"ID":ids})
felt_df = pd.DataFrame({"Felt":felt})
gap_df = pd.DataFrame({"Gap":gap})
mmi_df = pd.DataFrame({"MMI":mmi})
net_df = pd.DataFrame({"Net":net})
nst_df = pd.DataFrame({"NST":nst})
place_df = pd.DataFrame({"Place":place})
rms_df = pd.DataFrame({"RMS":rms})
sig_df = pd.DataFrame({"Sig":sig})
sources_df = pd.DataFrame({"Sources":sources})
status_df = pd.DataFrame({"Status":status})
time_df = pd.DataFrame({"Time":time})
title_df = pd.DataFrame({"Title":title})
tsunami_df = pd.DataFrame({"Tsunami":tsunami})
types_df = pd.DataFrame({"Type":types})
tz_df = pd.DataFrame({"TZ":tz})
updated_df = pd.DataFrame({"Updated":updated})
url_df = pd.DataFrame({"URL":url})

In [8]:
# sanity check prints - check dataFrames. 

# tsunami_df.head()

In [9]:
# merges dataframes made above

ses_df = pd.DataFrame(alert_df)
ses_df = ses_df.merge(cdi_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(code_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(detail_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(dmin_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(mag_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(magType_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(ids_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(felt_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(gap_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(mmi_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(net_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(nst_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(rms_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(place_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(sig_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(sources_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(status_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(time_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(title_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(tsunami_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(types_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(tz_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(updated_df, "inner", right_index=True, left_index=True)
ses_df = ses_df.merge(url_df, "inner", right_index=True, left_index=True)

In [10]:
# check final dataframe - big table

ses_df.head()

,Alert,CDI,Code,Detail,Depth,Magnitude,Waveform,ID,Felt,Gap,...,Sig,Sources,Status,Time,Title,Tsunami,Type,TZ,Updated,URL
0,None,NaN,11408890,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.06729,1.29,ml,",ci11408890,",NaN,51.0,...,26,",ci,",reviewed,1388620296020,"M 1.3 - 10km SSW of Idyllwild, CA",0,earthquake,-480.0,1457728844428,https://earthquake.usgs.gov/earthquakes/eventp...
1,None,NaN,01421ig3u,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,1.10,ml,",ak10992887,ak01421ig3u,",NaN,NaN,...,19,",ak,ak,",reviewed,1388620046501,"M 1.1 - 117km NW of Talkeetna, Alaska",0,earthquake,-540.0,1558392330681,https://earthquake.usgs.gov/earthquakes/eventp...
2,None,NaN,01421i2zj,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,1.20,ml,",ak10934318,ak01421i2zj,",NaN,NaN,...,22,",ak,ak,",reviewed,1388619956476,"M 1.2 - 6km SSW of Big Lake, Alaska",0,earthquake,-540.0,1558392330249,https://earthquake.usgs.gov/earthquakes/eventp...
3,None,NaN,01421heui,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,1.40,ml,",ak10992885,ak01421heui,",NaN,NaN,...,30,",ak,ak,",reviewed,1388619763623,"M 1.4 - 63km NW of Talkeetna, Alaska",0,earthquake,-540.0,1558392329762,https://earthquake.usgs.gov/earthquakes/eventp...
4,None,NaN,c000mnnn,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,4.00,ml,",usc000mnnn,",NaN,NaN,...,246,",us,",reviewed,1388619735000,"M 4.0 - 27km WNW of Coquimbo, Chile",0,earthquake,-300.0,1394151954000,https://earthquake.usgs.gov/earthquakes/eventp...

TRANSFORM

In [11]:
#transform EQType df
eq_errors = 0

try:
    eqtypes_col = ["Type", "Depth", "Magnitude"]
    eqtype_df = ses_df[eqtypes_col].copy()

    # Clean the data by dropping duplicates and setting the index
    eqtype_df.set_index("id", inplace=True)
except:
    eq_errors+=1

#write table to csv file
eqtype_df.to_csv('../Resources/EQType_data.csv', index=False, header=True)

#preview table
eqtype_df.head()

         Type    Depth  Magnitude
0  earthquake  0.06729       1.29
1  earthquake      NaN       1.10
2  earthquake      NaN       1.20
3  earthquake      NaN       1.40
4  earthquake      NaN       4.00

In [12]:
#transform instrument_data df
instrument_errors = 0

try:
    instrument_cols = ["MMI", "Depth", "Gap", "Net", "NST", "Place", "RMS", "Sig", "Sources", "Status",
                      "Type", "Time", "URL"]
    instrument_df = ses_df[instrument_cols].copy()

    # Clean the data by dropping duplicates and setting the index
    instrument_df.set_index("id", inplace=True)
except:
    instrument_errors+=1

#write table to csv file
instrument_df.to_csv('../Resources/instrument_data.csv', index=False, header=True)


#preview table
instrument_df.head()

,MMI,Depth,Gap,Net,NST,Place,RMS,Sig,Sources,Status,Type,Time,URL
0,NaN,0.06729,51.0,ci,39.0,"10km SSW of Idyllwild, CA",0.09,26,",ci,",reviewed,earthquake,1388620296020,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,NaN,ak,NaN,"117km NW of Talkeetna, Alaska",0.57,19,",ak,ak,",reviewed,earthquake,1388620046501,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,NaN,NaN,ak,NaN,"6km SSW of Big Lake, Alaska",0.47,22,",ak,ak,",reviewed,earthquake,1388619956476,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,NaN,ak,NaN,"63km NW of Talkeetna, Alaska",0.35,30,",ak,ak,",reviewed,earthquake,1388619763623,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,NaN,us,NaN,"27km WNW of Coquimbo, Chile",3.09,246,",us,",reviewed,earthquake,1388619735000,https://earthquake.usgs.gov/earthquakes/eventp...

In [13]:
#transform tsunamiTable

tsunami_errors = 0
try:
    tsunamitypes_col = ["Tsunami", "Magnitude", "Waveform", "Depth"]
    tsunamitype_df = ses_df[tsunamitypes_col].copy()
    
    # Clean the data by setting the index
    tsunamitype_df.set_index("id", inplace=True)
except:
    tsunami_errors+=1

#write table to csv file
tsunamitype_df.to_csv('../Resources/tsunami_data.csv', index=False, header=True)
    
#preview table
tsunamitype_df.head()

   Tsunami  Magnitude Waveform    Depth
0        0       1.29       ml  0.06729
1        0       1.10       ml      NaN
2        0       1.20       ml      NaN
3        0       1.40       ml      NaN
4        0       4.00       ml      NaN

In [14]:
#transform location_data

location_errors = 0

try:
    locationtypes_col = ["Sources", "Depth", "Time", "TZ"]
    locationtype_df = ses_df[locationtypes_col].copy()
    # Clean the data by setting the index
    locationtype_df.set_index("id", inplace=True)
except:
    location_errors+=1
    
#write table to csv file
locationtype_df.to_csv('../Resources/location_data.csv', index=False, header=True)

#preview table
locationtype_df.head()

   Sources    Depth           Time     TZ
0     ,ci,  0.06729  1388620296020 -480.0
1  ,ak,ak,      NaN  1388620046501 -540.0
2  ,ak,ak,      NaN  1388619956476 -540.0
3  ,ak,ak,      NaN  1388619763623 -540.0
4     ,us,      NaN  1388619735000 -300.0

In [15]:
# transform population_data

population_errors = 0

try:
    population_col = ["Felt", "Detail", "CDI", "Sig"]
    population_df = ses_df[population_col].copy()
    # Clean the data setting the index
    population_df.set_index("id", inplace=True)
except:
    population_errors+=1

#write table to csv file
population_df.to_csv('../Resources/populationimpact_data.csv', index=False, header=True)
    
#preview table
population_df.head()

   Felt                                             Detail  CDI  Sig
0   NaN  https://earthquake.usgs.gov/fdsnws/event/1/que...  NaN   26
1   NaN  https://earthquake.usgs.gov/fdsnws/event/1/que...  NaN   19
2   NaN  https://earthquake.usgs.gov/fdsnws/event/1/que...  NaN   22
3   NaN  https://earthquake.usgs.gov/fdsnws/event/1/que...  NaN   30
4   NaN  https://earthquake.usgs.gov/fdsnws/event/1/que...  NaN  246

In [17]:
earthquake_col = ["ID", "Magnitude", "Waveform", "Tsunami", "Type", "Location", "Felt", "MMI", "Title", "URL"]
earthquake_df = ses_df[earthquake_col].copy()
    # Clean the data and setting the index
earthquake_df.set_index("id", inplace=True)

earthquake_df.head()

KeyError: "['Location'] not in index"

In [16]:
# transform earthquakeRelated

earthquake_errors = 0

try:
    earthquake_col = ["ID", "Magnitude", "Waveform", "Tsunami", "Type", "Location", "Felt", "MMI", "Title", "URL"]
    earthquake_df = ses_df[earthquake_col].copy()
    # Clean the data and setting the index
    earthquake_df.set_index("id", inplace=True)
except:
    earthquake_errors+=1

#write table to csv file
earthquake_df.to_csv('../Resources/earthquake_data.csv', index=False, header=True)
    
#preview table
earthquake_df.head()

NameError: name 'earthquake_df' is not defined

In [ ]:
#create database connection

#connection_string = "postgres:postgres@localhost:5432/earthquake_db"
#engine = create_engine(f'postgresql://{connection_string}')